# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Practica rlutil/FileContentIndex/1a0c8f48-b77c-400f-8285-9dd82c1bdd63.vsidx
.vs/Practica rlutil/FileContentIndex/489afbb6-7151-4135-8f0b-a4634f203362.vsidx
.vs/Practica rlutil/FileContentIndex/6ed391c5-9370-4cc6-8c96-048c8c5aa8f4.vsidx
.vs/Practica rlutil/FileContentIndex/822efcf8-f0cf-450a-9dca-ffe6705e04e3.vsidx
.vs/Practica rlutil/FileContentIndex/e37ab7b9-4776-4a4f-8942-d67d91412995.vsidx
.vs/Practica rlutil/v17/.suo
.vs/Practica rlutil/v17/Browse.VC.db
.vs/Practica rlutil/v17/Browse.VC.db-shm
.vs/Practica rlutil/v17/Browse.VC.db-wal
.vs/Practica rlutil/v17/Browse.VC.opendb
.vs/Practica rlutil/v17/DocumentLayout.json
.vs/Practica rlutil/v17/ipch/AutoPCH/1213d6d703fbe63c/SUCURSALARCHIVO.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/178784efab5d24bb/VENDEDORARCHIVO.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/1ac074febd28ab84/FUNCIONESRLUTIL.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/3abdda07d7198276/SISTEMA.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/424f7200a7a90e17/CONFIGURACION.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/4e327fb24d72d85b/SUCURSALMANAGER.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/504e08598fb94f63/PERSONAMANAGER.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/6974f47a7d9a9b3f/VEHICULOSMANAGER.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/7135dd6f09c5d405/FUNCIONESRLUTIL.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/8912a5b11a7e5c53/VENTASARCHIVO.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/900217d495bd2f66/CLIENTEARCHIVO.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/9f50dc3cf7e401c0/VENTASMANAGER.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/a19b92fb98c78808/CLIENTE.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/af94dd7e84dbcf89/MAIN.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/b052a8573ef9bea0/FUNCIONESGENERALES.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/b3e7413add303b63/FECHA.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/bbfa8ae27fe3f265/INFORMES.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/c0aeef126548c6d1/CLIENTEMANAGER.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/d3c427895083da2/SUCURSAL.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/d9b754ea5c98ad8/VENDEDORMANAGER.ipch
.vs/Practica rlutil/v17/ipch/AutoPCH/ec4a1a054947c5ab/VENDEDOR.ipch
.vs/Practica rlutil/v17/Solution.VC.db
Practica rlutil/x64/Debug/Practica rlutil.exe.recipe
Practica rlutil/x64/Debug/Practica rlutil.ilk
Practica rlutil/x64/Debug/Practica rlutil.log
Practica rlutil/x64/Debug/Practica rlutil.tlog/CL.command.1.tlog
Practica rlutil/x64/Debug/Practica rlutil.tlog/Cl.items.tlog
Practica rlutil/x64/Debug/Practica rlutil.tlog/CL.read.1.tlog
Practica rlutil/x64/Debug/Practica rlutil.tlog/CL.write.1.tlog
Practica rlutil/x64/Debug/Practica rlutil.tlog/link.command.1.tlog
Practica rlutil/x64/Debug/Practica rlutil.tlog/link.read.1.tlog
Practica rlutil/x64/Debug/Practica rlutil.tlog/link.secondary.1.tlog
Practica rlutil/x64/Debug/Practica rlutil.tlog/link.write.1.tlog
Practica rlutil/x64/Debug/Practica rlutil.tlog/Practica rlutil.lastbuildstate
Practica rlutil/x64/Debug/vc143.idb
Practica rlutil/x64/Debug/vc143.pdb
x64/Debug/Practica rlutil.pdb
Practica rlutil.vcxproj.user
Practica rlutil.vcxproj.filters
Practica rlutil.vcxproj
Practica rlutil.sln
Gestor d.9e757f1f/x64/Debug/vc143.pdb
Gestor d.9e757f1f/x64/Debug/vc143.idb
Gestor d.9e757f1f/x64/Debug/Practica rlutil.log
Gestor d.9e757f1f/x64/Debug/Gestor de Ventas con Menu.ilk
Gestor d.9e757f1f/x64/Debug/Gestor de Ventas con Menu.exe.recipe
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/link.write.1.tlog
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/link.secondary.1.tlog
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/link.read.1.tlog
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/link.command.1.tlog
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/Gestor de Ventas con Menu.lastbuildstate
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/CL.write.1.tlog
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/CL.read.1.tlog
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/Cl.items.tlog
Gestor d.9e757f1f/x64/Debug/Gestor d.9e757f1f.tlog/CL.command.1.tlog
.vs/Practica rlutil/FileContentIndex/61c3ae43-d798-4163-a180-8fa66cce5e91.vsidx
.vs/Practica rlutil/FileContentIndex/2a97482d-1557-4a3a-b39a-f55100161060.vsidx
x64/Debug/Gestor de Ventas con Menu.pdb
.vs/Practica rlutil/FileContentIndex/b1e56f59-cc07-4226-a419-e6be0a2d9081.vsidx
